version: '3'
services:
  web:
    build: .
    ports:
     - "8081:8080"
  mysql:
    image: "mysql:5.7"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_USER: bonte
      MYSQL_PASSWORD: bonte